{% extends 'base.html' %}
{% block css %}
    <style>
        ul,li{
            list-style: none;
        }
        li{
            float: left;
            margin: 5px;
        }
        .price{
            text-decoration: line-through;
            color: lightgray;
        }
        .vip_price{
            color: blue;
        }
    </style>
{% endblock %}
{% block content %}
    <h3>{{ active.title }}</h3>
    <p>
        <img src="/media/{{ active.img1 }}">
    </p>
    <ul>
        {% for activegoods in active.goods.all %}
            <li>
                <dl>
                    <dt>
                        <img src="/media/{{ activegoods.goods.img1 }}">
                    </dt>
                    <dd>
                        {{ activegoods.goods.name }}
                    </dd>
                    <dd>
{#                        {% with activegoods.goods.price * activegoods.rate as rate_price %}#}
                        $:
                        <span class="vip_price">{{ activegoods.rate_price }}</span>
                        <span class="price">{{ activegoods.goods.price }}</span>
{#                        {% endwith %}#}
                    </dd>
                    <dd>
                        <button class="btn btn-danger" onclick="qbuy(this, '{{ activegoods.goods.id }}')">抢购</button>
                    </dd>
                </dl>
            </li>
        {% endfor %}
        
    </ul>
{% endblock %}

{% block js %}
    <script>
        var cID = 0;
        function qbuy(btn, goods_id) {
            fetch('/active/qbuy/'+goods_id+"/")
                .then(resp => resp.json())
                .then(data => {
                    if (data.code === 100){
                        if (confirm('当前用户未登录，是否进入登陆页面')){
                            open('/user/login/',target='_self')
                        }
                        return
                    }
                    $(btn).text(data.msg);
                    if (data.code === 201){
                        cID = setInterval(function () {
                            fetch('/active/query_qbuy/'+goods_id+"/")
                                .then(resp => resp.json())
                                .then(data => {
                                    $(btn).text(data.msg);
                                    if (data.code !== 201){
                                        clearInterval(cID);
                                    }
                                })
                        }, 1000)
                    }
                })
        }
    </script>
{% endblock %}